.about {
    padding-top: 100px;
    padding-bottom: 160px;
}
.about-left-bg {
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
.about-left {
    width: 35%;
}
.about-right {
    width: 60%;
}
.about-wrap {
    justify-content: space-between;
    padding-top: 80px;
}
.about .uk-card-header img {
    width: 200px;
}
.about .uk-card-header,
.about .uk-card-body {
    background: #FDDBD3;
}
.about .uk-card-header {
    padding: 60px 40px 40px 40px;
}
.about .uk-card-body {
    padding: 0px 40px;
}
.about .uk-card-body h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 0px;
}
.about .uk-card-body h4 {
    margin-top: 0px;
    margin-bottom: 60px;
}
.about .uk-card-body span {
    width: 150px;
    height: 3px;
    background: var(--pink);
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}
.about .uk-card-footer {
    background: var(--violet);
}
.about  .uk-card-footer ul {
    list-style: none;
}
.about .uk-card-footer ul {
    list-style: none;
    padding: 0;
    margin: auto;
}
.about .uk-card-footer ul a {
    background: var(--pink);
    color: var(--violet);
}
.about .uk-card-footer ul a:hover {
    background: var(--black);
}
.about .uk-card-footer ul li {
    margin-right: 20px;
}
.about .uk-card-footer ul li:last-child {
    margin-right: 0px;
}
.about-right div {
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 30px;
}
/* FAQ */
/* Education */
.education .main-title{
    margin-bottom: 120px;
}
.education-wrap {
    justify-content: space-between;
}
.education-item {
    width: 30%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--violet);
    border-radius: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.edu-year {
    padding-top: 25px;
    padding-bottom: 25px;
}
.edu-name {
    font-size: 22px;
    font-weight: 700;
}
.edu-school {
    font-weight: 100;
    font-size: 20px;
}
.education-leaves {
    width: 150px;
}
.education-leaves-one {
    left: -20px;
    top: 0;
}
.education-leaves-two {
    right: -20px;
    top: 0;
    transform: rotateY(-180deg);
}
.education {
    
    padding-bottom: 100px;
}
/* Education */

/* Qualifications */
.qualification {
    padding-top: 80px;
    padding-bottom: 120px;
}
.qualification .main-title {
    margin-bottom: 80px;
}
.qualification-wrap {
    justify-content: space-between;
}
.certificate {
    background: var(--violet);
    color: var(--black);
    width: 24%;
    border-radius: 15px;
}
.course {
    font-weight: 300;
    margin-bottom: 45px;
}
.class {
    font-weight: bold;
    margin-top: 45px;
}
.certificate span {
    width: 80px;
    height: 2px;
    background: #e75076;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.qualification-star {
    width: 120px;
    opacity: 0.2;
    top: -50px;
}
.qualification-star-one {
    transform: rotate(-90deg);
}
.qualification-star-two {
    right: 0;
}
/* Qualifications */

@media screen and (max-width: 1200px)  { 
    .about .uk-card-header {
        padding: 40px 40px 40px 40px;
    }
    .education-leaves-two {
        right: 40px;
    }
    .education-leaves-one {
        left: 40px; 
    }
    .education-leaves {
        width: 120px;
    }
    .qualification-star-two {
        right: 40px;
    }
}
@media screen and (max-width: 960px)  {
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-wrap {
        padding-top: 60px;
        flex-direction: column;
    }
    .about-left {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .about .uk-card-body h4 {
        margin-bottom: 40px;
    }
    .about .uk-card-body h3,
    .about .uk-card-body span {
        display: none;
    }
    .about .uk-card-body {
        padding: 0px 70px;
    }
    .about-right {
        width: 100%;
        margin-top: 40px;
    }
    .about-right .main-button {
        margin-left: auto;
    }
    .about-right div:last-child {
        text-align: center;
    }
    .education-leaves {
        width: 80px;
    }
    .education .main-title {
        margin-bottom: 80px;
    }
    .edu-school {
        font-weight: 100;
        font-size: 16px;
    }
    .edu-name {
        font-size: 16px;
    }
    .education-item {
        width: 32%;
    }
    .certificate {
        width: 48%;
        margin-bottom: 25px;
    }
    .qualification-wrap {
        flex-wrap: wrap;
    }
    .qualification-star {
        width: 80px;
    }
    .qualification {
        padding-top: 0px;
    }
    
}

@media screen and (max-width: 640px)  { 
    .about-wrap {
        padding-top: 30px;
    }
    .about-left {
        width: 100%;
    }
    .about .uk-card-header img {
        width: 80px;
    }
    .about .uk-card-header, .about .uk-card-body {
        background: none;
    }
    .about .uk-card-default {
        background: none;
    }
    .about .uk-card-header {
        padding: 0;
    }
    .about .uk-card-body h4 {
        color: var(--violet);
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .about {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .about .uk-card-header {
        float: left;
    }
    .about .uk-card-body {
        padding: 0 15px;
    }
    .about .uk-card-body h3, .about .uk-card-body span {
        display: block;
        font-size: 16px;
        color: var(--violet);
        margin-left: auto;
        margin-right: auto;
    }
    .about .uk-card-body h4 {
        color: var(--violet);
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 16px;
    }
    .about .uk-card-body span {
        margin-top: 10px;
    }
    .about .uk-card-footer {
        padding: 10px 20px;
        margin-top: 15px;
    }
    .about-right {
        margin-top: 25px;
    }
    .about-right div {
        margin-bottom: 25px;
    }
    .education-leaves {
        display: none;
    }
    .education .main-title {
        margin-bottom: 40px;
    }
    .education-wrap {
        flex-wrap: wrap;
    }
    .education-item {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 15px;
    }
    .edu-year {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .qualification-star {
        display: none;
    }
    .education {
        padding-bottom: 30px;
    }
    .qualification .main-title {
        margin-bottom: 30px;
    }
    .certificate {
        width: 100%;
        margin-bottom: 15px;
    }
    .class {
        margin-top: 25px;
    }
    .course {
        margin-bottom: 25px;
    }
    .certificate span {
        margin-bottom: 10px;
    }
    .qualification {
        padding-bottom: 20px;
    }
}
