/* Design Portfolio */
.design-project {
    justify-content: space-between;
}
.design-image {
    width: 50%;
}
.design-project:nth-of-type(1) .design-description {
    background: #4ec2e9;
}
.design-project:nth-of-type(2) .design-description {
    background: #f4b99a;
}
.design-project:nth-of-type(3) .design-description {
    background: #e0f4ed;
}
.design-project:nth-of-type(3) .design-description img {
    width: 150px;
}
.design-project {
    margin-bottom: 60px;
}
.design-portfolio {
    padding-top: 80px;
    padding-bottom: 130px;
}
.design-portfolio .design-project:nth-of-type(1) .design-image{
    background: #4ec1e8;
    display: flex;
    align-items: center;
}
.design-portfolio .design-project:nth-of-type(2) .design-image{
    background: #f4b99a;
    display: flex;
    align-items: center;
}
.design-portfolio .design-project:nth-of-type(3) .design-image {
    background: #e0f4ed;
    display: flex;
    align-items: center;
}
.design-portfolio .main-title {
    margin-bottom: 80px;
}
.design-description {
    width: 45%;
    align-items: center;
}
.design-description img {
    width: 200px;
}
.design-description-wrap {
    padding-left: 45px;
    padding-right: 45px;
}
.design-explaination {
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
    letter-spacing: 1px;
    line-height: 36px;
}
.design-portfolio-planet {
    width: 120px;
    right: -30px;
    top: -20px;
}
/* Design Portfolio */

/* Frontend Project */
.frontend-portfolio {
    padding-bottom: 150px;
}
.frontend-portfolio-planet {
    width: 120px;
    left: -30px;
    top: -20px;
    transform: rotate(-90deg);
}   
.frontend-portfolio .main-title {
    margin-bottom: 100px;
}
.frontend-projects {
    justify-content: space-between;
    margin-bottom: 30px;
}
.frontend-projects div {
    width: 170px;
}
.frontend-projects a {
    width: 170px;
    transition: .1s;
}
.frontend-projects a:hover {
    box-shadow: 0 0 25px #f9eaffa3;
    transition: .3s;
}
.dcheck-detail-content p {
    color: var(--black)
}
.dcheck-detail-content {
    margin-bottom: 60px;
}
.dcheck-detail-content h2 {
    font-size: 32px;
    font-family: GothamBold;
    margin-bottom: 30px;
}
#dcheck-detail .uk-modal-body {
    padding: 100px 30px;
}
#dcheck-detail .uk-close {
    color: var(--black)
}
#dcheck-detail .uk-close svg {
    width: 20px;
}
.dcheck-detail-content a {
    color: #354953;
    padding-top: 30px;
    display: inline-block;
    transition: .3s;
}
.dcheck-detail-content a:hover {
    color: #4ec2e9;
    transition: .3s;
}

@media screen and (max-width: 1200px)  {
    .design-description img {
        width: 120px;
    }
    .design-image {
        width: 35%;
    }
    .design-description {
        width: 62%;
        align-items: center;
    }
    .design-portfolio-planet {
        right: 40px;
    }
    .design-project:nth-of-type(3) .design-description img {
        width: 120px;
    }
    .design-description-wrap {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .design-project {
        margin-bottom: 25px;
    }

    .design-explaination {
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        line-height: 28px;
    }
    .design-portfolio .main-title {
        margin-bottom: 50px;
    }
    .frontend-projects div {
        width: 130px;
    }
    .frontend-projects a {
        width: 130px;
    }
    .frontend-portfolio-planet {
        left: 40px;
    }
}

@media screen and (max-width: 960px)  { 
    
    .frontend-portfolio-planet {
        width: 80px;
    }
    .design-explaination {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .design-project:nth-of-type(3) .design-description img {
        width: 100px;
    }
    .design-portfolio-planet {
        width: 80px;
    }
    .design-portfolio {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .frontend-portfolio .main-title {
        margin-bottom: 60px;
    }
    .frontend-projects a,
    .frontend-projects div {
        width: 100px;
    }
}
@media screen and (max-width: 640px) {
    .design-image {
        display: none!important;
    }
    .design-description {
        width: 100%;
    }
    .design-description-wrap {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .design-portfolio-planet,
    .frontend-portfolio-planet {
        display: none;
    }
    .design-portfolio .main-title {
        margin-bottom: 25px;
    }
    .design-portfolio {
        padding-top: 15px;
        padding-bottom: 45px;
    }
    .frontend-projects {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .frontend-projects div {
        display: none;
    }
    .frontend-projects a {
        width: 31%;
        margin-bottom: 15px;
    }
    .frontend-portfolio {
        padding-bottom: 50px;
    }
    .frontend-portfolio .main-title {
        margin-bottom: 30px;
    }
    .dcheck-detail-content h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .dcheck-detail-content {
        margin-bottom: 25px;
    }
}
